  <mat-card class="container text-center">

    <mat-card-title id="login">Login</mat-card-title>

    <form (ngSubmit)="logar()">

      <div class="row">
        <div class="col-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input id="email" type="email" matInput [formControl]="emailFormControl" placeholder="E-mail">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Informe um e-mail <strong>válido!</strong>
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Campo e e-mail é <strong>obrigatório!</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input id="password" type="password" matInput [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
              Please enter a valid password address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Informe um e-mail <strong>válido!</strong>
            </mat-error>
          </mat-form-field>

          <div>
            <button id="botaoLogar" mat-raised-button color="primary">Logar</button>
          </div>
        </div>
      </div>
    </form>
    <div>
      <button mat-button [routerLink]="['/registrar']" color="primary">Registrar</button>
    </div>
  </mat-card>
