<mat-toolbar color="primary">
  <span>Simple Dental</span>
  <span class="spacer"></span>
  <span class="hide-mobile" *ngIf="ehUsuarioLogado$ | async as ehUsuarioLogado">{{nomeUsuario}} •
    {{emaillUsuario}}</span>

  <button *ngIf="ehUsuarioLogado$ | async as ehUsuarioLogado" mat-button [matMenuTriggerFor]="afterMenu">
    <span class="material-icons">
      menu
    </span>
  </button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button [routerLink]="['/albums-list']" mat-menu-item>Álbuns</button>
    <button (click)="logout()" mat-menu-item><span class="material-icons">
        logout
      </span></button>
  </mat-menu>

</mat-toolbar>